.update-text {
	position: absolute;
	top: 894px;
	left: 821px;
	width: 317px;
	height: 24px;
	opacity: 1;
	transform: rotate(0deg);
	font-family: 'Roobert TRIAL', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.02em;
}

.update-text-label {
	display: block;
	color: #a0a4ab;
	white-space: nowrap;
}
