.reset-button {
	position: absolute;
	top: 887px;
	left: 1680px;
	width: 80px;
	height: 37px;
	opacity: 1;
	transform: rotate(0deg);
	padding: 9px 16px 10px 16px;
	gap: 8px;
	border: 1px solid #1A1B1C;
	background: transparent;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
    font-family: Roobert TRIAL;

}

.reset-button:hover,
.reset-button:focus-visible {
	background: #1A1B1C;
}

.reset-button:hover path,
.reset-button:focus-visible path {
	fill: #fcfcfc;
}

.reset-button:hover rect,
.reset-button:focus-visible rect {
	stroke: #fcfcfc;
}
