.take-photo-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 64px;
	z-index: 10;
	pointer-events: none;
}

.take-photo-header-logo {
	pointer-events: all;
	cursor: pointer;
}

.take-photo-header svg {
	width: 100%;
	height: 100%;
	display: block;
}
