.rombuses {
	position: absolute;
	top: 99px;
	left: 1539px;
	width: 762px;
	height: 762px;
	opacity: 1;
	transform: rotate(0deg);
	pointer-events: none;
}

.rombuses-svg {
	width: 100%;
	height: 100%;
	display: block;
}

@media (max-width: 768px) {
	.rombuses {
		top: 140px;
		width: 420px;
		height: 420px;
	}
}
